<div>
  <mat-spinner
    class="file-upload-progress center"
    mode="determinate"
    [value]="fileUploadProgress()"
    diameter="200"
    aria-label="upload progress"
  ></mat-spinner>
  <div class="file-upload-progress-description justify-center">
    {{ fileUploadProgressDescription() }}
  </div>
</div>
<p class="justify-center">
  @if (!fileUploaded()) { Click here to upload a file }@else if
  (fileUploadProgress() < 100) { Uploading {{ fileUploaded()?.name }}} @else {
  {{ fileUploaded()?.name }} uploaded successfully! }
</p>
<input #fileInput type="file" class="hidden" (change)="uploadFile()" />
