.description__card {
  line-height: 2;
  min-height: 100%;
  color: var(--mat-sys-on-background);

  &-content {
    &-title {
      font-size: xx-large;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 600px) {
  :host {
    overflow-y: auto;
  }
}

@media screen and (max-width: 600px) {
  :host {
    overflow-y: hidden;
  }
}
