<div class="upload-file-dialog">
  <h2 mat-dialog-title>File {{ data.fileName }} uploaded successfully!</h2>
  <mat-dialog-content class="upload-file-dialog__content">
    <span> <b>Your file id:</b> {{ data.fileId }} </span>
    <button
      mat-icon-button
      class="upload-file-dialog__content-copy-button"
      [cdkCopyToClipboard]="data.fileId"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-dialog-content>
  <mat-dialog-actions class="upload-file-dialog__actions">
    <button mat-button (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</div>
