@media screen and (max-width: 600px) {
  .layout {
    height: unset;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 600px) {
  .layout {
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
  }
}
