/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.justify-center {
  display: flex !important;
  justify-content: center;
}

.center {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}
