<app-layout rightCardTitle="You're One Step Away from Your File!">
  <app-download-file-downloader left-card></app-download-file-downloader>
  <div right-card>
    <p>
      This is a one-time
      <b>download</b>
      link: once you download the file, it will be
      <b>immediately and permanently deleted</b> from our servers to ensure
      maximum privacy and security.
    </p>
    <mat-divider></mat-divider>
    <div>
      <h2>📥 Download Details</h2>
      <ul>
        <li>This file is <b>available for one-time download only.</b></li>
        <li>
          Once the download is completed, the file will be
          <b>immediately and permanently deleted</b> from our servers.
        </li>
        <li>
          If you do not download the file now, it will remain available for
          <b>>up to 7 days</b> from the original upload time, after which it
          will expire automatically.
        </li>
      </ul>
    </div>
    <mat-divider></mat-divider>
    <div>
      <h3>🔒 Security and Privacy First</h3>
      <ul>
        <li>
          <b>Private Access:</b> Only those with this unique identifier can
          download the file.
        </li>
        <li>
          <b>No Storage After Download:</b> Your file is never retained or
          backed up after it is downloaded or expires.
        </li>
        <li>
          <b>No Tracking:</b> We do not track or monitor file content—your
          privacy is built into the system by design.
        </li>
      </ul>
    </div>
    <mat-divider></mat-divider>
    <div>
      <h3>⚠️ Important Reminders</h3>
      <ul>
        <li>
          Make sure you are on a secure and private network before downloading
          sensitive files.
        </li>
        <li>
          Once downloaded, <b>FileShare 250</b> will no longer have any copy of
          the file. Please save it securely.
        </li>
        <li>
          If you encounter any issues, ensure that your unique ID is correct and
          the file has not already been downloaded or expired.
        </li>
      </ul>
    </div>
    <mat-divider></mat-divider>
    <div>
      <h3>🧩 What Happens After?</h3>
      <ul>
        <li>Upon successful download, you'll see a confirmation message.</li>
        <li>The file record will be instantly removed from our system.</li>
        <li>
          No traces are kept - guaranteeing
          <b>true one-time, private file delivery.</b>
        </li>
      </ul>
    </div>
    <p>
      Thank you for trusting <b>FileShare 250</b> - simple, secure, and
      disposable file sharing done right.
    </p>
  </div>
</app-layout>
